<!-- Navigation Component -->
<div
  class="container text-black bg-gradient-to-r from-white to-amber-600 max-w-full"
>
  <ul class="list-none m-0 p-3 inline-flex">
    <li class="pr-3 text-3xl font-serif font-semibold">HEKTIPGRAM</li>
    <li class="pr-3 text-xl mt-1 font-mono"><a href="/">Home</a></li>
    <li class="pr-3 text-xl mt-1 font-mono"><a href="/arts/add">Explore</a></li>
  </ul>
</div>
